<title>RkapNilai</title>
<!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
<!-- bootstrap css -->
<link rel="stylesheet" href="https://bootswatch.com/3/yeti/bootstrap.min.css">
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>
<!-- bootstrap js -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
